{% extends 'base.html.twig' %}
{% form_theme form_filter 'bootstrap_3_layout.html.twig' %}
{% block body %}
  
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li class="active"><a href="{{path('proveedor_index')}}">Proveedores</a></li>
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Proveedores</div>
        <div class="panel-body">
            <a href="{{ path('proveedor_new') }}" class="btn btn-primary"
               data-toggle="tooltip" data-placement="top" title="Nuevo">
                <span class="glyphicon  glyphicon-floppy-saved"  aria-hidden="true"></span></a>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razon Social</th>
                <th>Email</th>
                
                <th>Cuit</th>
                <th>Cbu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in pagination %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">{{ proveedor.id }}</a></td>
                <td>{{ proveedor.razonsocial }}</td>
                <td>{{ proveedor.email }}</td>
                <td>{{ proveedor.cuit }}</td>
                <td>{{ proveedor.cbu }}</td>
                <td>
                   
                    <a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ver">
                        <span class="glyphicon glyphicon glyphicon glyphicon-search"  aria-hidden="true"></span>

                    <a href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}" class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="Editar">
                        <span class="glyphicon glyphicon glyphicon glyphicon-pencil"  aria-hidden="true"></span>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


           </div>
    </div>
    </div>  
            
            

           
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
          </div>

          <div class="panel-body">
               {{ form(form_filter, {'attr': {'novalidate': 'novalidate'}}) }}
          </div>
        </div>
    </div>
          
          
    </div>  
{% endblock %}
