{% extends 'base.html.twig' %}

{% block body %}
   
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('proveedor_index')}}">Proveedores</a></li>
  <li class="active"><a href="#">Detalle </a></li>
</ol>
  
  
<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle Registro</div>
        <div class="panel-body">

        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proveedor.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ proveedor.razonsocial }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ proveedor.domicilio }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ proveedor.email }}</td>
            </tr>
            <tr>
                <th>Percepcion</th>
                <td>{% if proveedor.percepcion %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Condicioniva</th>
                <td>{% if proveedor.condicioniva %} {{ condicioniva[proveedor.condicioniva] }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ proveedor.cuit }}</td>
            </tr>
            <tr>
                <th>Ingbrutos</th>
                <td>{{ proveedor.ingbrutos }}</td>
            </tr>
            <tr>
                <th>Codpostal</th>
                <td>{{ proveedor.codpostal }}</td>
            </tr>
            <tr>
                <th>Cbu</th>
                <td>{{ proveedor.cbu }}</td>
            </tr>
        </tbody>
    </table>

  
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-flat btn-danger">
                <a href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}" class="btn btn-flat btn-primary">Editar</a>
            {{ form_end(delete_form) }}
         </div>
    </div>
    </div>
    </div>
{% endblock %}
