{% extends 'pdf.html.twig' %}

{% block body %}
   
<div class="row">
      
    	<div class="col-xs-12 col-sm-4">
    	
            <div class="panel panel-default small" >
            <div class="panel-body">
            
                   <table class="table ">
                       <tr><th>Nro Pedido:</th><td>{{pedido.id}}</td></tr>
                       <tr><th>Hora Entrega:</th><td ><div id="hora_entrega"> {{pedido.horaentrega|date('H:i:s')}} </div></td></tr>
                       <tr><th>Cliente:</th><td> {{pedido.contacto}}</td></tr>
                       <tr><th>Direccion:</th><td>{{ pedido.getDireccionFormat }}</td>
                       <tr><th>Telefono:</th><td>{{ pedido.telefono }}</td>
                       
                       </tr>
                       
                   
                   </table>
             
         		<h4>Helados Elegidos</h4>
                  <table class="table">
                       <tr>
                       <th>Pote</th>
                       <th>Sabor</th>
                       <th>Cantidad</th>
                       </tr>
                      {% for item in pedido.pedidodetalles %} 
                      <tr>
                       	<td> {{ item.getMedidaPoteFormat }}</td> 
                       	<td> {{ item.producto.nombre }}</td>
                       	<td> {{ item.getCantidadString }}</td>
                       	
                       </tr>
                       {% endfor %}   
                   </table>
             <hr>		
             		<table class="table ">
                       <tr><th>Total:</th><td>{{pedido.getMontoFormat}}</td></tr>
                       <tr><th>Abona Con:</th><td >{{pedido.getMontoAbonaFormat}}</td></tr>
                       
                   
                   </table>
             
             		
               </div>
            </div>
        </div>
{% endblock %}
