{% extends 'base.html.twig' %}
{% form_theme form_filter 'bootstrap_3_layout.html.twig' %}
{% block body %}
   
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li class="active"><a href="{{path('pedido_index')}}">Pedidos</a></li>
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Pedidos {{hoy|date('d/m/Y')}}</div>
        <div class="panel-body">
        <a href="{{ path('pedido_new') }}" class="btn btn-primary"
           data-toggle="tooltip" data-placement="top" title="Nuevo">
            <span class="glyphicon  glyphicon-floppy-saved"  aria-hidden="true"></span></a>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Usuario</th>
                <th>Estado</th>

                <th>Monto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pagination %}
            <tr>
                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>
                <td>{% if pedido.fecha %}{{ pedido.fecha|date('d/m/Y') }}  {% endif %}</td>
                <td>{{ pedido.cliente.razonsocial}}</td>
                <td>{{ pedido.user.getTextoCombo}}</td>
                <td>{{ estados[pedido.estadoId] }}</td>
                <td>{{ pedido.monto }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('pedidodetalle_new', { 'pedido_id': pedido.id }) }}" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="Ver"><span class="glyphicon glyphicon glyphicon glyphicon-pencil"  aria-hidden="true"></span></a>
                </td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
   
    <a href="{{ path('pedido_new') }}" >Nuevo</a>
    </div>
    </div>
    </div>  
      
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
          </div>

          <div class="panel-body">
               {{ form(form_filter, {'attr': {'novalidate': 'novalidate'}}) }}
          </div>
        </div>
    </div>
          
          
    </div>
    

{% endblock %}
