{% extends 'base.html.twig' %}

{% block body %}
   
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('cliente_index')}}">Clientes </a></li>
  <li class="active"><a href="#">Detalle </a></li>
  
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle Registro</div>
        <div class="panel-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Razon social</th>
                <td>{{ cliente.razonsocial }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ cliente.contacto }}</td>
            </tr>
            <tr>
                <th>Tipo Doc.</th>
                <td>{% if cliente.tipodocumento %}{{ tipodocumentos[cliente.tipodocumento] }}{% endif %}</td>
            </tr>
            <tr>
                <th>Condicion Iva </th>
                <td>{% if cliente.condicioniva %} {{ condicioniva[cliente.condicioniva] }} {% endif %}</td>
            </tr>
            <tr>
                <th>Num. doc</th>
                <td>{{ cliente.ndoc }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ cliente.web }}</td>
            </tr>
        </tbody>
    </table>
        
            {{ form_start(delete_form) }}
                <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn btn-flat btn-primary" >Editar</a>
                <input type="submit" value="Delete" class="btn btn-flat btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
