{% extends 'base.html.twig' %}
{% form_theme form_filter 'bootstrap_3_layout.html.twig' %}
{% block body %}
   

<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li class="active"><a href="{{path('hojaruta_index')}}">Hoja de rutas</a></li>
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Hoja de Ruta</div>
        <div class="panel-body">
            <table class="table">
        <thead>
            <tr>
               <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Empleado</th>
                <th>Dia</th>
                <th>Titulo</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hojarutum in pagination %}
            <tr>
                <td><a href="{{ path('hojaruta_show', { 'id': hojarutum.id }) }}">{{ hojarutum.id }}</a></td>
                <td>{{ hojarutum.empleado.nombre }} - {{ hojarutum.empleado.apellido }}</td>
                <td>{{ dias[hojarutum.diaId] }}</td>
                <td>{{ hojarutum.titulo }}</td>
                
                
                <td>
                   
                        <a href="{{ path('hojarutadetalle_new', { 'hojaruta_id': hojarutum.id }) }}"class="btn btn-success">Consultar/Editar</a>
                        <a href="{{ path('hojaruta_delete', { 'id': hojarutum.id }) }}" class="btn btn-danger" >Eliminar</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('hojaruta_new') }}"class="btn btn-primary">Nuevo</a>
     </div>
    </div>
    </div>
         
             
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
          </div>

          <div class="panel-body">
               {{ form(form_filter, {'attr': {'novalidate': 'novalidate'}}) }}
          </div>
        </div>
    </div> 
         
 </div>
    
    
    
    
{% endblock %}
