{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('hojaruta_index')}}">Hoja de rutas</a></li>
  <li class="active"><a href="#">Nuevo</a></li>
</ol>
  
  
    <div class="row">
    <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"> <b>Nuevo Hoja de Ruta</b></div>
    <div class="panel-body">
    

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar y Agregar Clientes" class="btn btn-primary" />
        
    {{ form_end(form) }}
    <a href="{{ path('hojaruta_index') }}" class="btn btn-default" >Volver</a>
    </div>
    </div>
    </div>
    </div>
    
       
{% endblock %}
