{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hojarutum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hojaruta.id }}</td>
            </tr>
            <tr>
                <th>Diaid</th>
                <td>{{ hojaruta.diaId }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ hojaruta.titulo }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ hojaruta.notas }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hojaruta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hojaruta_edit', { 'id': hojaruta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
