{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empresa.nombre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ empresa.email }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ empresa.razonsocial }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ empresa.userId }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empresa.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ empresa.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
