<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Heladeria Roma{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/es.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('helado.png') }}" />
        
        
        <script src="{{ asset('js/adaptivetech.js') }}"></script>
        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker();
                $('.datatable').DataTable( {"searching": false, "bPaginate":false} );
                $('select').select2();
            });
        </script>
        
        
     
        
        
    </head>
    <body style="padding-top: 70px" class="bg-dark">
{% block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url('admin')}}">Heladeria Roma</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if is_granted("ROLE_CARGADATOS") %}   
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Base de Datos <span class="caret"></span></a>
          
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url('producto_index') }}">Helados</a></li>
                <li><a class="dropdown-item" href="{{ url('promo_index') }}">Promociones</a></li>
                <li><a class="dropdown-item" href="{{ url('marcas_index') }}">Marcas</a></li>
                <li><a class="dropdown-item" href="{{ url('categoria_index') }}">Categorias</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item" href="{{ url('user_index') }}">Usuarios</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item" href="{{ url('parametro_edit_money', {'nombre':'precioxkilo'}) }}">Precio 1 Kilo</a></li>
                <li><a class="dropdown-item" href="{{ url('parametro_edit_money', {'nombre':'precioxtrescuartos'}) }}">Precio 3/4 Kilo</a></li>
                <li><a class="dropdown-item" href="{{ url('parametro_edit_money', {'nombre':'precioxmedio'}) }}">Precio 1/2 Kilo</a></li>
                <li><a class="dropdown-item" href="{{ url('parametro_edit_money', {'nombre':'precioxcuarto'}) }}">Precio 1/4 Kilo</a></li>
                <li><a class="dropdown-item" href="{{ url('parametro_edit_money',{'nombre':'preciocucurucho'}) }}">Precio C/Cucurucho</a></li>
                <li role="separator" class="divider"></li>
                {% if is_granted("ROLE_SUPER_ADMIN") %}   
                    <li><a class="dropdown-item" href="{{ url('parametro_index') }}">Parametros</a></li>
                    
                {% endif %}
                
          </ul>
          
        </li>
      </ul>
    {% endif %}
     
    
    
          
          
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
             role="button" aria-haspopup="true" aria-expanded="false">Pedidos
              <span class="caret"></span></a>
         
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url('pedido_hoy') }}">Pedidos de hoy</a> </li>
                <li><a class="dropdown-item" href="{{ url('pedido_index') }}">Listado de Pedidos</a></li>
          </ul>
        
        </li>
      </ul>
    
    
    
              
    <ul class="nav navbar-nav navbar-right">       
    {% if not(is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
        <li class="nav-item">
         <a class="nav-link" href="{{ path('fos_user_security_login') }}" id="navbarDropdownMenuLink"  >
           Ingresar
         </a>
        </li>
         <li class="nav-item">
         <a class="nav-link" href="/register" id="navbarDropdownMenuLink" >
           Registrarse
         </a>
        </li>
       {%else%}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  
              Mi Cuenta ({{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}) <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li class="nav-item">
             <a class="nav-link" href="{{ url('userempresa_edit') }}" >
              Editar Mis Datos
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{{url('fos_user_change_password')}}" >
              Cambiar Contraseña
             </a>
            </li>
         
          
            
            
            <li class="nav-item">
             <a class="nav-link" href="{{ path('fos_user_security_logout') }}" >
              Salir
             </a>
            </li>
        {% endif %}
            
            
            
            
          </ul>
        </li>
      </ul>
        
        
        
        
        <ul class="nav navbar-nav navbar-right">     
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
             aria-expanded="false">Descargar<i class="fa-download" aria-hidden="true"></i> <span class="caret"></span></a>
        
          <ul class="dropdown-menu">
                <li>
                  <a class="nav-link" href="https://play.google.com/store/apps/details?id=adaptivex.pedidoscloud&hl=es"  > 
                     Descargar App Mobile<i class="fa fa-android" aria-hidden="true"></i></a>
                </li>
                
                
        
          </ul>
        </li>
        </ul>
         <ul class="nav navbar-nav navbar-right">     
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
             aria-expanded="false">
             <span class="glyphicon glyphicon-bullhorn success" aria-hidden="true" id="cartelnotificaciones"></span>
             <span class="label label-success" id="mnu_cantidad_pedidos"></span>
              </a>
        
          <ul class="dropdown-menu">
                <li>
                
                  <a class="nav-link" href="{{ url('pedido_notificaciones') }}"  > 
                     Ver Notificaciones <i class="fa fa-android" aria-hidden="true"></i></a>
                </li>
                
                
        
          </ul>
        </li>
        </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %} <!-- navbar -->
        
        
     
       
        
        <div class="container">
            <div class="row">
               <div class="col-xs-12"> 
               {% if app.session.flashBag.has('success') %}
               <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   {% for msg in app.session.flashBag.get('success') %}
                       {{ msg }}
                   {% endfor %}
               </div>
               {% endif %}
               {% if app.session.flashBag.has('error') %}
               <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   {% for msg in app.session.flashBag.get('error') %}
                       {{ msg }}
                   {% endfor %}
               </div>
               {% endif %}
               </div>
            </div>
            <div class="col-xs-12">
                
                {% block body %}
                     {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
       
       
       <script>
       jQuery(document).ready(function($)
       {
		   var currentnumber=0;
		   var oldnumber=0;  
		   var isFirst = true;
		  
		  

		   
        	   function cantidadNotificaciones(){
        		    
           			$.ajax({
                           method: "GET",
                           url: "/api/pedido/notificaciones",
                           dataType: 'json',
                           success: function(data)
                           {
                               if(data.hasOwnProperty("code") && data.code === 200)
                               {
                                   $("#mnu_cantidad_pedidos").html(data.data);
                                   currentnumber = data.data;
                               }
                           },
                           error: function(jqXHR, exception)
                           {
                               if(jqXHR.status === 405)
                               {
                                   console.error("METHOD NOT ALLOWED!");
                               }
                           }
                   	});
       
       			}
  		   //la primera vez no se notifica el sonido, porque es la carga del dato
    	   
    	   
    	   
    	   cantidadNotificaciones();
    	   oldnumber = currentnumber;

    	   
    	   var mySound = new Audio('{{ asset('audio/notification1.wav') }}');
           setInterval(function(){ 
        	   cantidadNotificaciones();
        	   
			   if (currentnumber!=oldnumber){
				   	//reproducir sonido
				   	oldnumber = currentnumber;
				   if (!isFirst){
					   mySound.play();
				   }
				   isFirst = false;
			   }
           }, 30000);
       	

 
			
	   });
	   
      
       </script>
       
       
    </body>
</html>
