<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PedidosCloud{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/es.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!--
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
        <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ asset('js/select2.min.js') }}"></script>
        -->
        
        
        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker();
            });
        </script>
        
        
        <script>
             jQuery(document).ready(function() {
                $('select').select2();
                
            });
        </script>
    </head>
    <body style="padding-top: 70px" class="bg-dark">

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url('admin')}}">PedidosCloud</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if is_granted("ROLE_CARGADATOS") %}   
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Base de Datos <span class="caret"></span></a>
          
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url('cliente_index') }}">Clientes</a></li>

                <li><a class="dropdown-item" href="{{ url('marcas_index') }}">Marcas</a></li>
                <li><a class="dropdown-item" href="{{ url('categoria_index') }}">Categorias</a></li>
                <li><a class="dropdown-item" href="{{ url('producto_index') }}">Productos</a></li>
                <li><a class="dropdown-item" href="{{ url('proveedor_index') }}">Proveedores</a></li>
                <li role="separator" class="divider"></li>
                
                {% if is_granted("ROLE_EMPRESA") %} 
                  <li><a class="dropdown-item" href="{{ url('empleado_index') }}">Usuarios</a></li>
                  
                    {% if is_granted("ROLE_SUPER_ADMIN") %} 
                        <li><a class="dropdown-item" href="{{ url('condicioniva_index') }}">Condicion Iva</a></li>
                        <li><a class="dropdown-item" href="{{ url('impuesto_index') }}">Impuestos</a></li>
                    {% endif %}  
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %} 
                    <li><a class="dropdown-item" href="{{ url('empresa_index') }}">Empresa</a></li>
                {% endif %}
               <li role="separator" class="divider"></li>
               <li><a class="dropdown-item" href="{{ url('archivo_new') }}">Importar Archivos</a></li>
               
               
          </ul>
          
        </li>
      </ul>
    {% endif %}
     
    
    
        {% if is_granted("ROLE_DEPOSITO") %}
         
        <ul class="nav navbar-nav">    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Control de Stock<span class="caret"></span></a>
          
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url('movimientostock_new') }}">Nuevo Movimiento de Stock (Con Comprobante)</a></li>
              <li><a class="dropdown-item" href="{{ url('movimientostock_index') }}">Listado Movimiento de Stock</a></li>
              
          </ul>
          
        </li>
        </ul> 
          
          
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
             role="button" aria-haspopup="true" aria-expanded="false">Pedidos
              <span class="caret"></span></a>
         
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url('pedido_hoy') }}">Pedidos de hoy</a> </li>
                <li><a class="dropdown-item" href="{{ url('pedido_index') }}">Listado de Pedidos</a></li>
                {% if is_granted("ROLE_VENDEDOR") %}    
                    <li><a class="dropdown-item" href="{{ url('hojaruta_index') }}">Hojas de ruta</a></li>
                {% endif %}  
          </ul>
        
        </li>
      </ul>
    {% endif %}
    
    
    
              
    <ul class="nav navbar-nav navbar-right">       
    {% if not(is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
        <li class="nav-item">
         <a class="nav-link" href="{{ path('fos_user_security_login') }}" id="navbarDropdownMenuLink"  >
           Ingresar
         </a>
        </li>
         <li class="nav-item">
         <a class="nav-link" href="/register" id="navbarDropdownMenuLink" >
           Registrarse
         </a>
        </li>
       {%else%}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  

              Mi Cuenta ({{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}) <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li class="nav-item">
             <a class="nav-link" href="#" >
              Editar Mis Datos
             </a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{{url('fos_user_change_password')}}" >
              Cambiar Contraseña
             </a>
            </li>
            {% if is_granted("ROLE_EMPRESA") %} 
            <li class="nav-item">
             <a class="nav-link" href="{{ url('empresa_edit', {'id':app.user.empresa.id}) }}" >
              Editar Datos Empresa
             </a>
            </li>
            {% endif %}
            
            
            <li class="nav-item">
             <a class="nav-link" href="{{ path('fos_user_security_logout') }}" >
              Salir
             </a>
            </li>
        {% endif %}
            
            
            
            
          </ul>
        </li>
      </ul>
        
        
        
        
        <ul class="nav navbar-nav navbar-right">     
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
             aria-expanded="false">Descargar<i class="fa-download" aria-hidden="true"></i> <span class="caret"></span></a>
        
          <ul class="dropdown-menu">
                <li>
                  <a class="nav-link" href="https://play.google.com/store/apps/details?id=adaptivex.pedidoscloud&hl=es"  > 
                     Descargar App Mobile<i class="fa fa-android" aria-hidden="true"></i></a>
                </li>
                
                
        
          </ul>
        </li>
        </ul>
          
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        
        
        
        
        
     
       
        
        <div class="container">
            <div class="row">
               <div class="col-xs-12"> 
               {% if app.session.flashBag.has('success') %}
               <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   {% for msg in app.session.flashBag.get('success') %}
                       {{ msg }}
                   {% endfor %}
               </div>
               {% endif %}
               {% if app.session.flashBag.has('error') %}
               <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   {% for msg in app.session.flashBag.get('error') %}
                       {{ msg }}
                   {% endfor %}
               </div>
               {% endif %}
               </div>
            </div>
            <div class="col-xs-12">
                
                {% block body %}
                     {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
