{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="card-header">Registrar Nueva Cuenta</div>
    <div class="card-body">
       <div class="row">
            <div class="col-xs-12"> 
            {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissable">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
            {% endif %}
            {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger alert-dismissable">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
            {% endif %}
            </div>
        </div>
    

    
    {{ form_start(form) }}
    
    
    
    
    
    {{ form_row(form.username, {'label':'Username:'  }) }}
    {{ form_row(form.email, {'label':'Email:'}) }}
    {{ form_row(form.plainPassword.first, {'label':'Contraseña:'}) }}
    {{ form_row(form.plainPassword.second, {'label':'Repetir Contraseña:'}) }}
    
        <button type="submit" class="btn btn-flat btn-primary">Crear Cuenta!</button>
         <a class="d-block small mt-3" href="/"> <i class="fa fa-arrow-left"></i> Volver</a>
    {{ form_end(form) }}
    
    
    </div>
    



