{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="row">    
    <div class="col-sm-offset-3 col-xs-12 col-sm-4 col-lg-4 ">
    <div class="panel panel-primary">
        <div class="panel-heading">Cambiar Contraseña</div>
        <div class="panel-body">
        
 {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}    
 
    {{ form_errors(form) }}
        {{ form_row(form.current_password,  { 'label': 'Contrasenia Anterior:' }) }}
        {{ form_row(form.plainPassword.first, {'label': 'Contrasenia Nueva'}) }}
        {{ form_row(form.plainPassword.second, {'label': 'Repetir Contrasenia Nueva'}) }}
		<div>
        	<input type="submit" class="btn btn-flat btn-success" value="Actualizar" />
        </div>
    {{ form_end(form) }}
       
        
		</div>
	</div>
	</div>
</div>