{% extends 'base.html.twig' %}

{% block body %}
  
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('user_index')}}">Usuarios</a></li>
  <li class="active"><a href="#">Detalle </a></li>
</ol>
  
  
<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle Registro</div>
        <div class="panel-body">

        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login/Username</th>
                <td>{{ user.username }}</td>
            </tr>
           <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Ndoc</th>
                <td>{{ user.ndoc }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>
                    {% for r in user.roles %} 
                       {{ roles[r] }}
                    {% endfor %}
                </td>
            </tr>
            
            <tr>
                <th>Contacto</th>
                <td>{{ user.contacto }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ user.localidad }}</td>
            </tr>
           
           
            <tr>
                <th>Calle</th>
                <td>{{ user.calle }}</td>
            </tr>
            <tr>
                <th>Nro</th>
                <td>{{ user.nro }}</td>
            </tr>
            
            <tr>
                <th>Piso</th>
                <td>{{ user.piso }}</td>
            </tr>
            
            <tr>
                <th>Telefono</th>
                <td>{{ user.telefono }}</td>
            </tr>
            
            
             
            
        </tbody>
    </table>

   
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-flat btn-danger">
            {{ form_end(delete_form) }}
       
           
          
            
             </div>
    </div>
    </div>
    </div>
{% endblock %}
