{% extends 'base.html.twig' %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('categoria_index')}}">Categorias</a></li>
  <li class="active"><a href="#">Detalle </a></li>
</ol>
  
  
<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle Registro</div>
        <div class="panel-body">

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ categorium.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ categorium.nombre }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ categorium.descripcion }}</td>
                </tr>
                <tr>
                    <th>Imagen Name</th>
                    <td>{{ categorium.imagen }}</td>
                </tr>
                 <tr>
                    <th>Imagen </th>
                    <td>
                        <img src="{{ categorium.getUploadDir() }}" style="height: 400px;width: 400px;">
                    </td>
                </tr>
            </tbody>
        </table>

    

    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-flat btn-danger">
        <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}" class="btn btn-flat btn-primary">Editar</a>
    {{ form_end(delete_form) }}
        </div>
    </div>
    </div>
    </div>
{% endblock %}
