{% extends 'base.html.twig' %}
{% form_theme formpedidoaddress 'bootstrap_3_layout.html.twig' %}
 {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">
       <input id="nro_pedido" type="hidden" value="{{pedido.id}}"/>  
    	<div class="col-xs-12 col-sm-4">
    	
            <div class="panel panel-default small" >
            <div class="panel-heading"> <b>Pedido</b></div>
            <div class="panel-body">
            
                   <table class="table ">
                       <tr><th>ID:</th><td>{{pedido.id}}</td></tr>
                       <tr><th>Usuario/Cliente:</th><td> {{pedido.user.textocombo}}</td></tr>
                       <tr><th>Fecha:</th><td>    {{pedido.fecha|date('d/m/Y H:i:s')}}</td></tr>
                       <tr><th>Hora Entrega:</th><td ><div id="hora_entrega"> {{pedido.horaentrega|date('H:i:s')}} </div></td></tr>
                       <input type="hidden" id="json_pedido" value="{{ json_pedido }}" />
                   
                   </table>
             		
             		<img src="{{asset('img/2.gif') }}" style="display:none" id="gif_saving_estado" >
                    <div class="panel panel-default" id="pnl_estado">
                    <div class="panel-body">
                      {{ form_start(formchangestatus2) }}

                            {{ form_widget(formchangestatus2) }}
                          <div id="btn_actualizar_estado" class="btn btn-info" > <i class="glyphicon glyphicon-refresh"></i> Actualizar </div>
                          
						  {% if pedido.impreso == true %}
						  	<div disabled href="{{ url('pedido_pdfprint4', {'id':pedido.id}) }}" id="btn_print" class="btn btn-default" > 
							  <i class="glyphicon glyphicon-print" ></i> 
							  Pedido Fue Impreso 
							  </div>
						  {% else %}
						  	<a href="{{ url('pedido_pdfprint4', {'id':pedido.id}) }}" id="btn_print" class="btn btn-default" > <i class="glyphicon glyphicon-print"></i> Imprimir </a>
						  {% endif %}

						   
						<div id="btn_imprimir_pos" class="btn btn-success" > 
							<i class="glyphicon glyphicon-print"></i> Imprimir POS
						</div>
						  
						  


						  
                      {{ form_end(formchangestatus2) }}
                      </div>
                      </div>
               </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-8">
    
            <div class="panel panel-default small">
            <div class="panel-heading"> <b>Detalle del pedido:</b></div>
            <div class="panel-body">
            <div class="row">
                    <div class="row">
                       <div class="col-xs-12"> 
                       
                       <div name="alert" class="alert alert-success alert-dismissable" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                               Cantidad Actualizada Correctamente
                       </div>
                       </div>
                    </div>
                       
                       
                    <table class="datatable cell-border">
                                    
                        <thead>
                            <th>Nro Pote</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                            
                        </thead>
                        <tbody>
                            
                            {% for item in pedidodetalles|sort %}
                            <tr>
                                <form>
                                    <td>{{item.nropote}}</td>
                                    <td >{{item.producto.nombre}}</td>
                                    <td>{{item.cantidadstring }}</td>
                                    <!--
                                    <td class="col-md-2">
                                        <input disabled name="cantidad" class="form-control" data-id="{{item.id}}" value="{{item.cantidadstring }}">
                                        <div class="btn btn-xs btn-default actualizaritempedido" data-id="{{item.id}}">Actualizar </div> 
                                    </td>
                                    -->
                                
                                    <td><a href="{{ path('pedidodetalle_delete', {'id':item.id}) }}" class="label label-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
             </div>
             </div>
             </div>
     	</div>
        
        
    </div>

    
   
    <div class="row">
    
    
    <div class="col-xs-12 col-sm-4">
  			<img src="{{asset('img/2.gif') }}" style="display:none" id="gif_saving_1" >
            <div class="panel panel-default small" 
            	 id="pnl_datos_entrega">
            <div class="panel-heading"> <b>Datos de Entrega</b></div>
            <div class="panel-body">
              			<div class="gif_saving" ></div>

                       {{ form_start(formpedidoaddress) }}
                         {{ form_widget(formpedidoaddress) }}
            			 <div id="btn_actualizar_datos_entrega" class="btn btn-info" ><i class="glyphicon glyphicon-refresh"></i> Actualizar Datos de Entrega </div>
                       {{ form_end(formpedidoaddress) }}
     
               </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4">
	        <img src="{{asset('img/2.gif') }}" style="display:none" id="gif_saving_monto" >
            <div class="panel panel-default small" id="pnl_datos_montos">
            <div class="panel-heading"> <b>Cantidades Y Monto</b></div>
            <div class="panel-body">
            
                       {{ form_start(formpedidomontos) }}
                         {{ form_widget(formpedidomontos) }}
            			 <div id="btn_actualizar_montos" class="btn btn-info" > <i class="glyphicon glyphicon-refresh"></i> Actualizar </div>
                       {{ form_end(formpedidomontos) }}
                    
               </div>
            </div>
        </div>
        
        
    
     	<div class="col-xs-12 col-sm-4">      
            <div class="panel panel-default small">
            <div class="panel-heading"> <b>Agregar Producto:</b></div>
            <div class="panel-body">
               
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit" value="Agregar Producto"> </>
                    <a href="{{ path('pedido_index')}}" class="btn btn-default">Volver al Listado</a>
                {{ form_end(form) }}
                
            </div>
            </div>
    	</div>	
    </div>
    
    
    
    
    
    
    
    <script>
       jQuery(document).ready(function($)
       {


           	//ACTUALIZARA DATOS DE ESTADO
           	//ACTUALIZARA DATOS DE ENTREGA DEL PEDIDO
			var    panel_estado     = $("#pnl_estado");
			var    loader_estado    = $("#gif_saving_estado");
		    var    hora_entrega     = $("#hora_entrega");
		    
			
			$("#btn_actualizar_estado").click(function(){
				effectOk(panel_estado,loader_estado);
				id  	  = $("#nro_pedido").val();
				
				estadoid      = $("#appbundle_Pedido_estadoid").val();
	            tiempodemora  = $("#appbundle_Pedido_tiempodemora").val();
	            var json_data = {'pedido':{
		            					'id':id,
	                					'estadoid':estadoid,
	                					'tiempodemora':tiempodemora
	                					}
								};
				
	            $.ajax({
	                   method: "POST",
	                   url: "/api/pedido/updateestado",
	                   dataType: 'json',
                       data: JSON.stringify( json_data ),
	                   success: function(data)
	                   {
	                       if(data.hasOwnProperty("code") )
	                       {
			                    if (data.code==200){

			                    	var time    = new Date(data.data.horaentrega);  
			                    	
									var hour    = time.getHours();
									
									if (hour < 10 ){ hour = "0"+ hour; }
									
									
									var minutes = time.getMinutes();
									
									if (minutes < 10 ){ minutes = "0"+minutes; }
									
									var seconds = time.getSeconds();	
									
									if (seconds < 10 ){ seconds = "0"+seconds; }
			                    	
									var hora    = hour + ":" + minutes +":"+ seconds;


									//var hora = dateFormat(time, "dd/mm/yyyy hh:MM:ss GMT-0300");	
			                    	hora_entrega.fadeOut(500);
			                    	hora_entrega.html(hora);
			                    	hora_entrega.fadeIn(500);
			                    	
				                }  
	                       }
	                   },
        	            error: function(jqXHR, textStatus, errorThrown )
                        {
                            alert(jqXHR.responseText);
                        }
	           		});
				});
				//FIN ACTUALIZAR DATOS DE ESTADO
				
				
           	
           	
			//ACTUALIZARA DATOS DE ENTREGA DEL PEDIDO
			var    panel     = $("#pnl_datos_entrega");
			var    loader    = $("#gif_saving_1");
			
			$("#btn_actualizar_datos_entrega").click(function(){
				effectOk(panel,loader);
				id  	  = $("#nro_pedido").val();
				contacto  = $("#appbundle_Pedido_contacto").val();
	            localidad = $("#appbundle_Pedido_localidad").val();
	            calle     = $("#appbundle_Pedido_calle").val();
	            piso      = $("#appbundle_Pedido_piso").val();
	            nro 	  = $("#appbundle_Pedido_nro").val();
	        	telefono  = $("#appbundle_Pedido_telefono").val();
	            var json_data = {'pedido':{
		            					'id':id,
	                					'contacto':contacto,
	                					'localidad':localidad,
	                					'calle':calle,
	                					'piso':piso,
	                					'nro':nro,
	                					'telefono':telefono
	                					}
								};
	            $.ajax({
	                   method: "POST",
	                   url: "/api/pedido/updateaddress",
	                   dataType: 'json',
                       data: JSON.stringify( json_data ),
	                   success: function(data)
	                   {
	                       if(data.hasOwnProperty("code") )
	                       {
			                    if (data.code==200){
			                    	
				                }  
	                       }
	                   },
        	            error: function(jqXHR, textStatus, errorThrown )
                        {
                            alert(jqXHR.responseText);
                        }
	           		});
				});
				//FIN ACTUALIZAR DATOS DE ENTREGA


    	   

			//ACTUALIZAR DATOS MONTOS
			var panel_monto     = $("#pnl_datos_montos");
			var loader_monto    = $("#gif_saving_monto");
			$("#btn_actualizar_montos").click(function(){
				
				effectOk(panel_monto, loader_monto);
				
				id  	  	      = $("#nro_pedido").val();
				cantidadkilos     = $("#appbundle_Pedido_cantidadkilos").val();
				cantidadpotes     = $("#appbundle_Pedido_cantidadpotes").val();
	            cucharitas        = $("#appbundle_Pedido_cucharitas").val();
	            cucuruchos        = $("#appbundle_Pedido_cucuruchos").val();
	            montocucuruchos   = $("#appbundle_Pedido_montocucuruchos").val();
	            montohelados      = $("#appbundle_Pedido_montohelados").val();
	            montodescuento    = $("#appbundle_Pedido_montodescuento").val();
				enviodomicilio    = $("#appbundle_Pedido_enviodomicilio").val();
	            montoabona        = $("#appbundle_Pedido_montoabona").val();
	            monto    = $("#appbundle_Pedido_monto").val();

	            var json_data   = {'pedido':{
		            			 		'id':id,
	                					'cantidadkilos':cantidadkilos,
	                					'cantidadpotes':cantidadpotes,
	                					'cucharitas':cucharitas,
	                					'cucuruchos':cucuruchos,
	                					'montocucuruchos':montocucuruchos,
	                					'montohelados':montohelados,
	                					'montodescuento':montodescuento,
	                					'enviodomicilio':enviodomicilio,
	                					'monto':monto,
										'montoabona':montoabona,
	                					}
								};
	            $.ajax({
	                   method: "POST",
	                   url: "/api/pedido/updatemontos",
	                   dataType: 'json',
                       data: JSON.stringify( json_data ),
	                   success: function(data)
	                   {
	                       if(data.hasOwnProperty("code") )
	                       {
			                    if (data.code==200){
			                    	
				                }  
	                       }
	                   },
        	            error: function(jqXHR, textStatus, errorThrown )
                        {
                            alert(jqXHR.responseText);
                        }
	           		});
				});


			//IMPRIMIR TICKECT
			$("#btn_imprimir_pos").click(function(){
				effectOk(panel_estado,loader_estado);
				
	            var json_data = $("#json_pedido").val();
				var json 	  = JSON.parse(json_data); 
				alert(json_data);
				alert(json);
				//Obtener json 
	            $.ajax({
	                   method: "POST",
	                   url: "http://127.0.0.1:8000/printer/ticket/",
	                   dataType: 'json',
                       data: JSON.stringify( json ),
					   //data: json_data ,
	                   success: function(data)
	                   {
	                       if(data.hasOwnProperty("code") )
	                       {
			                    if (data.code==200){
									
			                    	alert(data.data);
				                }  
	                       }
	                   },
        	            error: function(jqXHR, textStatus, errorThrown )
                        {
                            alert(jqXHR.responseText);
                        }
	           		});
				});
				//FIN ACTUALIZAR DATOS DE ESTADO
				
			
		});//FIN JAVASCRIPT

       </script>
     
{% endblock %}



