{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
   
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li ><a href="{{path('producto_index')}}">Productos</a></li>
  <li class="active"><a href="#">Editar</a></li>
</ol>
  
<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Editar Registro</div>
        <div class="panel-body">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
           <input type="submit" value="Gardar Cambios" class="btn btn-flat btn-primary"/>
        {{ form_end(edit_form) }}

   
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-flat btn-danger">
        {{ form_end(delete_form) }}
        
        </div>
    </div>
    </div>
</div>
{% endblock %}
