{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dia</th>
                <th>Apertura</th>
                <th>Cierre</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td><a href="{{ path('horario_show', { 'id': horario.id }) }}">{{ horario.id }}</a></td>
                <td>{{ horario.dia }}</td>
                <td>{% if horario.apertura %}{{ horario.apertura|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.cierre %}{{ horario.cierre|date('H:i:s') }}{% endif %}</td>
                <td>{{ horario.observaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'id': horario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'id': horario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new horario</a>
        </li>
    </ul>
{% endblock %}
